@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  height: 100vh;
}

.container,
.container-lg {
  padding: 0 1.5rem;
}

.container-lg {
  max-width: 1280px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.2s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 640px) {
  .container,
  .container-lg {
    padding: 0 2rem;
  }
}
